region                = "{{ regionName }}"
tenancy_ocid          = "{{ tenancyId }}"
compartment_ocid      = "{{ compartmentId }}"
deploy_id             = "{{ deploy_id }}"
vault_id              = "{{ vault_id }}"
master_key_id         = "{{ master_key_id }}"
ssh_public_key        = "{{ ssh_public_key }}"
privatesubnet_id      = "{{ privatesubnet_id }}"